USE [master]
GO
/****** Object:  Database [Ql_PHONGKARAOKE]    Script Date: 12/20/2022 2:17:48 PM ******/
CREATE DATABASE [Ql_PHONGKARAOKE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Ql_PHONGKARAOKE', FILENAME = N'E:\CNPM\Nhom01_CongNgheNet - Sao chép\Ql_PHONGKARAOKE.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Ql_PHONGKARAOKE_log', FILENAME = N'E:\CNPM\Nhom01_CongNgheNet - Sao chép\Ql_PHONGKARAOKE_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Ql_PHONGKARAOKE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Ql_PHONGKARAOKE]
GO
/****** Object:  Table [dbo].[CHITIETHOADON]    Script Date: 12/20/2022 2:17:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETHOADON](
	[MAHD] [int] NOT NULL,
	[MASP] [int] NOT NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [float] NULL,
	[THANHTIEN] [float] NULL,
 CONSTRAINT [HD_SP_PK] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANHMUCSANPHAM]    Script Date: 12/20/2022 2:17:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANHMUCSANPHAM](
	[MADANHMUC] [int] IDENTITY(1,1) NOT NULL,
	[TENDANHMUC] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MADANHMUC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 12/20/2022 2:17:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHD] [int] IDENTITY(1,1) NOT NULL,
	[GIOVAO] [datetime] NULL,
	[GIORA] [datetime] NULL,
	[MAPHONG] [int] NULL,
	[TRANGTHAI] [int] NULL,
	[TENKHACHHANG] [nvarchar](30) NULL,
	[TONGTIEN] [float] NULL,
	[TIENPHONG] [float] NULL,
	[TIENDICHVU] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADONPHU]    Script Date: 12/20/2022 2:17:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADONPHU](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MAHD] [int] NOT NULL,
	[GIOVAO] [datetime] NULL,
	[GIORA] [datetime] NULL,
	[MAPHONG] [int] NULL,
	[TONGTIEN] [float] NULL,
 CONSTRAINT [PK_HOADONPHU] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIPHONG]    Script Date: 12/20/2022 2:17:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIPHONG](
	[MALOAIPHONG] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAIPHONG] [nvarchar](50) NULL,
	[DONGIA] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOAIPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONG]    Script Date: 12/20/2022 2:17:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONG](
	[MAPHONG] [int] IDENTITY(1,1) NOT NULL,
	[TENPHONG] [nvarchar](20) NULL,
	[TRANGTHAI] [int] NULL,
	[LOAIPHONG] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 12/20/2022 2:17:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASP] [int] IDENTITY(1,1) NOT NULL,
	[TENSP] [nvarchar](30) NULL,
	[GIA] [float] NULL,
	[MADANHMUC] [int] NULL,
	[HINHANH] [varchar](10) NULL,
	[DVT] [nvarchar](10) NULL,
	[SOLUONG] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 12/20/2022 2:17:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[TENDANGNHAP] [nvarchar](30) NOT NULL,
	[TENHIENTHI] [nvarchar](50) NULL,
	[MATKHAU] [nvarchar](30) NULL,
	[LOAITAIKHOAN] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[TENDANGNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CHITIETHOADON] ([MAHD], [MASP], [SOLUONG], [DONGIA], [THANHTIEN]) VALUES (20, 1, 10, 22000, 220000)
INSERT [dbo].[CHITIETHOADON] ([MAHD], [MASP], [SOLUONG], [DONGIA], [THANHTIEN]) VALUES (20, 20, 10, 12000, 120000)
INSERT [dbo].[CHITIETHOADON] ([MAHD], [MASP], [SOLUONG], [DONGIA], [THANHTIEN]) VALUES (20, 22, 5, 12000, 60000)
GO
SET IDENTITY_INSERT [dbo].[DANHMUCSANPHAM] ON 

INSERT [dbo].[DANHMUCSANPHAM] ([MADANHMUC], [TENDANHMUC]) VALUES (1, N'Bia')
INSERT [dbo].[DANHMUCSANPHAM] ([MADANHMUC], [TENDANHMUC]) VALUES (2, N'Thuốc Lá')
INSERT [dbo].[DANHMUCSANPHAM] ([MADANHMUC], [TENDANHMUC]) VALUES (3, N'Trái Cây')
SET IDENTITY_INSERT [dbo].[DANHMUCSANPHAM] OFF
GO
SET IDENTITY_INSERT [dbo].[HOADON] ON 

INSERT [dbo].[HOADON] ([MAHD], [GIOVAO], [GIORA], [MAPHONG], [TRANGTHAI], [TENKHACHHANG], [TONGTIEN], [TIENPHONG], [TIENDICHVU]) VALUES (16, CAST(N'2022-12-11T16:58:36.790' AS DateTime), CAST(N'2022-12-13T13:30:01.843' AS DateTime), 8, 1, N'duy tan vo nguyen', 3870000, 3870000, 0)
INSERT [dbo].[HOADON] ([MAHD], [GIOVAO], [GIORA], [MAPHONG], [TRANGTHAI], [TENKHACHHANG], [TONGTIEN], [TIENPHONG], [TIENDICHVU]) VALUES (20, CAST(N'2022-12-11T16:56:35.143' AS DateTime), CAST(N'2022-12-11T16:56:45.333' AS DateTime), 6, 1, N'Võ Nguyễn Duy Tân', 400000, 0, 400000)
INSERT [dbo].[HOADON] ([MAHD], [GIOVAO], [GIORA], [MAPHONG], [TRANGTHAI], [TENKHACHHANG], [TONGTIEN], [TIENPHONG], [TIENDICHVU]) VALUES (21, CAST(N'2022-12-12T15:28:22.097' AS DateTime), CAST(N'2022-12-12T15:28:50.317' AS DateTime), 10, 1, N'le thanh long', 45, 0, 45)
SET IDENTITY_INSERT [dbo].[HOADON] OFF
GO
SET IDENTITY_INSERT [dbo].[HOADONPHU] ON 

INSERT [dbo].[HOADONPHU] ([ID], [MAHD], [GIOVAO], [GIORA], [MAPHONG], [TONGTIEN]) VALUES (20, 21, CAST(N'2022-12-12T15:27:42.000' AS DateTime), CAST(N'2022-12-12T15:28:22.000' AS DateTime), 2, 0)
INSERT [dbo].[HOADONPHU] ([ID], [MAHD], [GIOVAO], [GIORA], [MAPHONG], [TONGTIEN]) VALUES (21, 22, CAST(N'2022-12-13T12:57:39.000' AS DateTime), CAST(N'2022-12-13T14:10:58.000' AS DateTime), 3, 240000)
INSERT [dbo].[HOADONPHU] ([ID], [MAHD], [GIOVAO], [GIORA], [MAPHONG], [TONGTIEN]) VALUES (22, 23, CAST(N'2022-12-13T14:25:37.000' AS DateTime), CAST(N'2022-12-13T14:26:02.000' AS DateTime), 3, 0)
SET IDENTITY_INSERT [dbo].[HOADONPHU] OFF
GO
SET IDENTITY_INSERT [dbo].[LOAIPHONG] ON 

INSERT [dbo].[LOAIPHONG] ([MALOAIPHONG], [TENLOAIPHONG], [DONGIA]) VALUES (1, N'Phòng Thường', 120000.0000)
INSERT [dbo].[LOAIPHONG] ([MALOAIPHONG], [TENLOAIPHONG], [DONGIA]) VALUES (2, N'Phòng VIP', 180000.0000)
SET IDENTITY_INSERT [dbo].[LOAIPHONG] OFF
GO
SET IDENTITY_INSERT [dbo].[PHONG] ON 

INSERT [dbo].[PHONG] ([MAPHONG], [TENPHONG], [TRANGTHAI], [LOAIPHONG]) VALUES (1, N'Phòng T1', 0, 1)
INSERT [dbo].[PHONG] ([MAPHONG], [TENPHONG], [TRANGTHAI], [LOAIPHONG]) VALUES (2, N'Phòng T2', 1, 1)
INSERT [dbo].[PHONG] ([MAPHONG], [TENPHONG], [TRANGTHAI], [LOAIPHONG]) VALUES (3, N'Phòng T3', 0, 1)
SET IDENTITY_INSERT [dbo].[PHONG] OFF
GO
SET IDENTITY_INSERT [dbo].[SANPHAM] ON 

INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [GIA], [MADANHMUC], [HINHANH], [DVT], [SOLUONG]) VALUES (1, N'Bia Tiger', 25000, 1, N'h1.png', N'Lon', 996)
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [GIA], [MADANHMUC], [HINHANH], [DVT], [SOLUONG]) VALUES (2, N'Bia Heniken', 25000, 1, N'h2.png', N'Lon', 999)
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [GIA], [MADANHMUC], [HINHANH], [DVT], [SOLUONG]) VALUES (3, N'Bia Sài gòn', 18000, 1, N'h3.png', N'Lon', 969)
SET IDENTITY_INSERT [dbo].[SANPHAM] OFF
GO
INSERT [dbo].[TAIKHOAN] ([TENDANGNHAP], [TENHIENTHI], [MATKHAU], [LOAITAIKHOAN]) VALUES (N'admin', N'Quản lý', N'admin', N'admin')
INSERT [dbo].[TAIKHOAN] ([TENDANGNHAP], [TENHIENTHI], [MATKHAU], [LOAITAIKHOAN]) VALUES (N'longlt', N'Lê Thành Long', N'long123', NULL)
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [HD_CTHD_FK] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADON] ([MAHD])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [HD_CTHD_FK]
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [SP_CTHD_FK] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [SP_CTHD_FK]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [HD_P_FK] FOREIGN KEY([MAPHONG])
REFERENCES [dbo].[PHONG] ([MAPHONG])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [HD_P_FK]
GO
ALTER TABLE [dbo].[HOADONPHU]  WITH CHECK ADD  CONSTRAINT [FK_HOADONPHU] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADON] ([MAHD])
GO
ALTER TABLE [dbo].[HOADONPHU] CHECK CONSTRAINT [FK_HOADONPHU]
GO
ALTER TABLE [dbo].[PHONG]  WITH CHECK ADD  CONSTRAINT [FK_P_LP] FOREIGN KEY([LOAIPHONG])
REFERENCES [dbo].[LOAIPHONG] ([MALOAIPHONG])
GO
ALTER TABLE [dbo].[PHONG] CHECK CONSTRAINT [FK_P_LP]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [SP_DM_FK] FOREIGN KEY([MADANHMUC])
REFERENCES [dbo].[DANHMUCSANPHAM] ([MADANHMUC])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [SP_DM_FK]
GO
/****** Object:  StoredProcedure [dbo].[DOANHSOBANHANG]    Script Date: 12/20/2022 2:17:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[DOANHSOBANHANG]
@NgayKiemTra varchar(100)
AS
	SET DATEFORMAT DMY
	SELECT SP.TENSP, SP.MASP, COUNT(SP.MASP) AS 'LUOTMUA',
	SUM(CT.SOLUONG) AS'TONGSOLUONG',SUM(CT.THANHTIEN)AS'TONGTHANHTIEN'
	FROM CHITIETHOADON CT,SANPHAM SP, HOADON HD
	WHERE CT.MASP=SP.MASP 
	AND HD.MAHD=CT.MAHD
	AND HD.GIOVAO >= @NgayKiemTra
	GROUP BY SP.MASP, SP.TENSP, SP.MASP
GO
/****** Object:  StoredProcedure [dbo].[XuatChiTietHoaDon]    Script Date: 12/20/2022 2:17:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[XuatChiTietHoaDon]
@MaHD int
as

	select hd.MAHD, hd.GIOVAO, hd.GIORA, hd.MAPHONG, hd.TENKHACHHANG, hd.TONGTIEN, hd.TIENPHONG,
	hd.TIENDICHVU, sp.TENSP, sp.MASP ,ct.SOLUONG,ct.DONGIA,ct.THANHTIEN 
	from CHITIETHOADON ct, SANPHAM sp,HOADON hd
	where ct.MASP=sp.MASP
	AND hd.MAHD= @MaHD
	and hd.MAHD=ct.MAHD
GO
USE [master]
GO
